<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.genre.dao.GenreDao">

	<select id="selectAllGenreByMovieId"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.genre.vo.GenreVO">
		SELECT C.CATEGORY_NAME 
		  FROM GENRE G
		 INNER JOIN CATEGORY C
			ON G.CATEGORY_ID = C.CATEGORY_ID
		 WHERE MOVIE_ID = 'MV-20260227-000001'
	</select>

	<insert id="insertGenre"
			parameterType="com.ktdsuniversity.edu.genre.vo.GenreVO">
		INSERT INTO GENRE
		( GENRE_ID
		, MOVIE_ID
		, CATEGORY_ID)
		VALUES
		( 'GN-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_GENRE_PK.NEXTVAL, 6, '0')
		, #{movieId}
		, #{categoryId})
	</insert>

</mapper>