<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.category.dao.CategoryDao">

    <select id="readAllCategoryNameByMovieId"
            parameterType="string"
            resultType="string">
        SELECT C.CATEGORY_NAME 
		  FROM GENRE G
		 INNER JOIN CATEGORY C
		    ON G.CATEGORY_ID = C.CATEGORY_ID
		 WHERE MOVIE_ID = #{_parameter}
    </select>

</mapper>