<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.movie.dao.MovieDao">

	<select id="selectAllMovie" resultType="com.ktdsuniversity.edu.movie.vo.response.MovieListVO">
		SELECT MOVIE_ID
			 , POSTER_URL
			 , TITLE
			 , MOVIE_RATING
			 , TO_CHAR(OPEN_DATE, 'YYYY') AS openYear
			 , TO_CHAR(OPEN_DATE, 'MM"월 "DD') AS openDate
			 , FILE_GROUP_ID
		  FROM MOVIE
	</select>

	<select id="selectMovieById"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.movie.vo.response.OneMovieVO">
		SELECT MOVIE_ID
			 , POSTER_URL
			 , TITLE
			 , MOVIE_RATING
			 , TO_CHAR(OPEN_DATE, 'YYYY') AS openYear
			 , TO_CHAR(OPEN_DATE, 'YYYY/MM/DD') AS openDate
			 , OPEN_COUNTRY
			 , RUNNING_TIME
			 , INTRODUCE
			 , SYNOPSIS
			 , ORIGINAL_TITLE
			 , STATE
			 , LANGUAGE
			 , BUDGET
			 , PROFIT
			 , FILE_GROUP_ID
		  FROM MOVIE 
		 WHERE MOVIE_ID = #{_parameter}
	</select>

	<insert id="insertMovie" parameterType="com.ktdsuniversity.edu.movie.vo.request.InsertVO">
		INSERT INTO MOVIE
		 (MOVIE_ID
		, POSTER_URL
		, TITLE
		, MOVIE_RATING
		, OPEN_DATE
		, OPEN_COUNTRY
		, RUNNING_TIME
		, INTRODUCE
		, SYNOPSIS
		, ORIGINAL_TITLE
		, STATE
		, LANGUAGE
		, BUDGET
		, PROFIT
		, FILE_GROUP_ID) VALUES
		 ('MV-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_MOVIE_PK.NEXTVAL, 6, '0')
		, #{posterUrl}
		, #{title}
		, #{movieRating}
		, TO_DATE(#{openDate}, 'YYYY-MM-DD hh:mi:ss')
		, #{openCountry}
		, #{runningTime}
		, #{introduce}
		, #{synopsis}
		, #{originalTitle}
		, #{state}
		, #{language}
		, #{budget}
		, #{profit}
		, #{fileGroupId})
	</insert>

	<update id="updateMovieByMovieId"
			parameterType="com.ktdsuniversity.edu.movie.vo.request.UpdateVO">
		UPDATE MOVIE
		   SET POSTER_URL = #{posterUrl}
			 , TITLE = #{title}
			 , MOVIE_RATING = #{movieRating}
			 , OPEN_DATE = #{openDate}
			 , OPEN_COUNTRY = #{openCountry}
			 , RUNNING_TIME = #{runningTime}
			 , INTRODUCE = #{introduce}
			 , SYNOPSIS = #{synopsis}
			 , ORIGINAL_TITLE = #{originalTitle}
			 , STATE = #{state}
			 , LANGUAGE = #{language}
			 , BUDGET = #{budget}
			 , PROFIT = #{profit}
		 WHERE MOVIE_ID = #{movieId}
	</update>

	<delete id="deleteMovieById"
			parameterType="string">
		DELETE
		  FROM MOVIE
		 WHERE MOVIE_ID = #{_parameter}
	</delete>

</mapper>