<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.member.dao.MemberDao">
    <select id="selectEmailCount" parameterType="string">
        SELECT COUNT(EMAIL)
		  FROM MEMBERS
		 WHERE EMAIL = #{email}
    </select>
    <insert id="insertMember" parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
        INSERT INTO MEMBERS 
		 (EMAIL
		, NAME
		, PASSWORD) VALUES 
		 (#{email}
		, #{name}
		, #{password})
    </insert>

    <select id="selectAllMember"
            resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
        SELECT EMAIL
		     , NAME
		     , PASSWORD
		  FROM MEMBERS
    </select>

    <select id="selectOneMemberByEmail"
            parameterType="string"
            resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
        SELECT EMAIL
		     , NAME
		     , PASSWORD
		  FROM MEMBERS
		 WHERE EMAIL = #{_parameter}
    </select>
    
    <update id="updateMemberByEmail"
            parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
        UPDATE MEMBERS
		   SET NAME = #{name}
		     , PASSWORD = #{password}
		 WHERE EMAIL = #{email}
    </update>
    
    <delete id="deleteMemberByEmail"
            parameterType="string">
        DELETE FROM MEMBERS
		 WHERE EMAIL = #{_parameter}
    </delete>
    
</mapper>