<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.members.dao.MembersDao">

	<select id="selectAllMember"
			resultType="com.ktdsuniversity.edu.members.vo.MembersVO">
		SELECT EMAIL
			 , NAME
			 , PASSWORD
			 , SALT
			 , REGIST_DATE
			 , MODIFY_DATE
			 , LATEST_PASSWORD_CHANGE_DATE
			 , LOGIN_DATE
			 , LATEST_LOGIN_IP
			 , LOGIN_FAIL_COUNT
			 , LATEST_LOGIN_FAIL_DATE
			 , BLOCK_YN
			  FROM MEMBERS
	</select>

	<select id="selectMembersByEmail"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.members.vo.MembersVO">
		SELECT EMAIL
			 , NAME
			 , PASSWORD
			 , SALT
			 , REGIST_DATE
			 , MODIFY_DATE
			 , LATEST_PASSWORD_CHANGE_DATE
			 , LOGIN_DATE
			 , LATEST_LOGIN_IP
			 , LOGIN_FAIL_COUNT
			 , LATEST_LOGIN_FAIL_DATE
			 , BLOCK_YN
			 , FILE_GROUP_ID
		  FROM MEMBERS
		 WHERE EMAIL = #{_parameter}
	</select>

	<update id="updateLoginFailCountPlusOne"
			parameterType="string">
		UPDATE MEMBERS
		   SET LOGIN_FAIL_COUNT = LOGIN_FAIL_COUNT + 1
		 WHERE EMAIL = #{_parameter}
	</update>

	<update id="updateBlockY"
			parameterType="string">
		UPDATE MEMBERS
		   SET BLOCK_YN = 'Y'
		 WHERE EMAIL = #{_parameter}
	</update>

	<update id="updateBlockN"
			parameterType="string">
		UPDATE MEMBERS
		   SET BLOCK_YN = 'N'
		 WHERE EMAIL = #{_parameter}
			 , LOGIN_FAIL_COUNT >= 5
	</update>

	<update id="updateLoginSuccess"
			parameterType="com.ktdsuniversity.edu.members.vo.request.LoginVO">
		UPDATE MEMBERS
		   SET LOGIN_DATE = SYSDATE
			 , LATEST_LOGIN_IP #{latestLoginIp}
			 , LOGIN_FAIL_COUNT = 0
			 , LATEST_LOGIN_FAIL_DATE = NULL
		 WHERE EMAIL = #{email}
	</update>

	<insert id="insertMembers"
			parameterType="com.ktdsuniversity.edu.members.vo.request.RegistVO">
		INSERT INTO MEMBERS
		( EMAIL
		, NAME
		, PASSWORD
		, SALT
		, REGIST_DATE
		, LATEST_PASSWORD_CHANGE_DATE)
		VALUES
		( #{email}
		, #{name}
		, #{password}
		, #{salt}
		, SYSDATE
		, SYSDATE)
	</insert>

	<delete id="deleteMemerByEmail"
			parameterType="string">
		DELETE
		  FROM MEMBERS
		 WHERE EMAIL = #{_parameter}
	</delete>

</mapper>